name: SmallRye Build

on:
  push:
    branches:
      - main
      - "1.x"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [11, 17]
    name: build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v3
        name: checkout

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven

      - uses: actions/setup-java@v3
        name: set up jdk ${{matrix.java}}
        with:
          java-version: ${{matrix.java}}
          distribution: 'temurin'

      - name: build with maven
        run: mvn -B formatter:validate verify --file pom.xml

  quality:
    needs: [build]
    if: github.event_name == 'push' && startsWith('smallrye', github.repository)
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven
      - name: sonar
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        run: mvn -B verify --file pom.xml -Pcoverage javadoc:javadoc sonar:sonar -Dsonar.projectKey=smallrye_smallrye-reactive-converters -Dsonar.login=$SONAR_TOKEN
